
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

*{
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face{
  font-family: My font;
  src: url(itc-machine.otf);
}
body{
  background-size: cover;
  /* background-position: center; */
  background-image: url(Artboard\ 1s.png);
  /* background: linear-gradient(360deg, #623A7D 75%, #DDB038 20%); */
  /* background-color: white; */
  height: 130vh;
  /* overflow: hidden; */
}
  header{
    background-color: black; opacity: 0.9;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    font-family: My font;
}
nav{
   padding-left: 140px;
   font-size: 20px;
   max-width: 100%;
}
.img{
   height: auto;
   width: 80px;
   margin-left: 140px;
   vertical-align: middle;
}
nav a{
   font-size: 20px;
   color: white;
   text-decoration: none;
   border: 2px;
   margin-left: 150px;
   transition: .3s;
   text-align: center;
}

nav a:hover{
   text-decoration:underline;
   
}
.container{
  padding: 30px;
  margin-top: 71px;
  margin-left: 375px;
  font-size: 17px;
  color: #4B3E92;
  max-width: 700px;
  max-height: 90vh;
  /* margin: 71px auto;
  padding: 20px; */
  /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); */
  text-align: center;
 
  
}
 /* .container2{
  padding-bottom: 120vh;
  width: 109vh;
  background-color: #271715;
  height: 10px;
  border: 1px white;
  border-top: 4px solid white; 
  border-right: 4px solid white; 
  border-bottom: 4px solid white; 
  border-left: 4px solid white; 
   
}  */
h1{
  margin-left: 50px;
  font-family: My font;
  /* text-align: center; */
  margin-top: 140px;
  color: #4B3E92;
}
/* .hr2{
  width: 108vh;
  height: 15px;
  background-color: white;
} */
p{
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  line-height: 20px;
  max-width: 100vh;
  margin-top: 10px;
  /* color: white; */
  text-align: center;
  padding-left: 30px;
}
.img2{
  float: right ;
  height: 220px;
  margin-bottom: 100px;
  
}
.paragraph1{
  margin-left: 50px;
}
.paragraph2{
  margin-left: 50px;
}
@media screen and (max-width: 768px) {
  header {
      font-size: 16px;
  }
  nav a {
      font-size: 14px;
      margin-left: 5px;
  }
  .container {
      margin-top: 60px;
      margin-left: 5px;
      font-size: 14px;
  }
  h1 {
      font-size: 24px;
      margin-top: 10px;
      margin-left: 5px;
  }
  p {
      font-size: 12px;
      margin-top: 5px;
      padding-left: 5px;
  }
}